* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header {
  /* margin-left: 260px; */
  width: 1200px;
  height: 800px;
  /* background-image: url("./assets/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  /* align-items: center; */
}

.header h1 {
  position: absolute;
  margin-left: 70px;
  margin-top: 80px;
  font-size: 80px;
  color: #8d8dac;
}

.header h3 {
  font-size: 30px;
  position: absolute;
  margin-top: 190px;
  margin-left: 220px;
  color: #a5a4c1;
}

.header a {
  text-decoration: none;
  position: absolute;
  margin-top: 260px;
  margin-left: 290px;
  background-color: #f29d52;
  border-radius: 22px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  padding: 12px;
  width: 110px;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
}

.header a:hover {
  background-color: #f7ae6f;
}

.header .image {
  width: 1200px;
  height: 700px;

  margin-left: 300px;
  background-image: url("./assets/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.service-header {
  font-size: 80px;
  text-align: center;
  color: #8d8dac;
}

.services {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 80px;

  height: 300px;
}

.services button {
  background-color: #f29d52;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  padding: 28px;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
}

.services button:hover {
  background-color: #da8c48;
}
.footer {
  background-color: #f29d52;
  height: 80px;
}

.footer p {
  text-align: center;
  padding-top: 30px;
  color: white;
}
